<div class="row">
<div class="col-md-12">
	<div class="tile white m-b-10 padding-20">
		<div class="tile-title">
			<div class="controller">
				<a href="" class="collapse pull-right m-l-15">&nbsp;</a>
			</div>
			<h3 class="m-t-0 m-b-10"><%= title %></h4>
			<% if(msg!='') { %>
			<div class="alert alert-success">
			  <button class="close" data-dismiss="alert"></button>
			   <%= msg %>
			</div>
			<% } %>
		</div>
		<div class="tile-body p-t-20">
			<form class="form-no-horizontal-spacing" id="anre-form" method="post" autocomplete="off" action="/reports/anre">	
				<div class="row form-row no-margin">
					<div class="form-group col-md-3">
						<label class="form-label">Inceput</label>
						<div class="input-group">
							<input type="text" class="form-control required" id="prm_StartDate" name="prm_StartDate" data-date-format="yyyy-mm-dd" />
							<span class="input-group-addon primary">		
								<span class="arrow"></span>
								<i class="fa fa-align-justify"></i>		
							</span>
						</div>
					</div>
					<div class="form-group col-md-3">
						<label class="form-label">Sfarsit</label>
						<div class="input-group">
							<input type="text" class="form-control required" id="prm_EndDate" name="prm_EndDate" data-date-format="yyyy-mm-dd" />
							<span class="input-group-addon primary">		
								<span class="arrow"></span>
								<i class="fa fa-align-justify"></i>		
							</span>
						</div>
					</div>
					<div class="form-group col-md-3">
						<label class="form-label">&nbsp;</label>
						<div class="input-group">
							<button class="btn btn-primary btn-cons" type="submit">Download</button>
						</div>
					</div>
				</div>
			</form>
		</div>	
	</div>	
</div>
</div>

